/* * =  усі теги на сторінці */
/* Box-sizing рекомендоване значення = border-box */
* {
  /*  зовнішній відступ  */
  margin: 0;
  /* внутрішній відступ */
  padding: 0;
  /* Кордон елементу */
  border: 0;
  /* поведінка браузера при рахуванні ширини та висоти елементу АБСОЛЮТНО ЗАВЖДИ МАЄ МІСТИТИ ОДНЕ РЕКОМЕНДОВАНЕ ЗНАЧЕННЯ border-box (За замовчуванням стоїть content-box)*/
  box-sizing: border-box;
}

a {
  /* прибирання підкреслення */
  text-decoration: none;
}

ul,
ol {
  /* прибирання поміток перед списками */
  list-style: none;
}

img {
  /* файні картинки */
  max-width: 100%;
  display: block;
}

body {
  scroll-behavior: smooth;
}